<!DOCTYPE html>
<html>
<head>
	<title>Student App</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div style="width: 60%; margin: auto;">
        <form action="/studentEdit" method="GET">
            <input type="submit" value="Add Student" class="form-control btn-dark">
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>City</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <%if (records.length >0){ %>
                <% records.forEach(function(row){ %>
                <tr>
                    <td><%= row.fullName %></td>
                    <td><%= row.email %></td>
                    <td><%= row.mobile %></td>
                    <td><%= row.city %></td>
                    <td>
                        <!-- <form action =  method="POST">
                            <input type="submit" value="Edit" class="form-control btn-light">
                        </form> -->

                        <a href="<%= '/studentEdit/'+row._id %>"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                        <a href = "<%= '/deleteStudent/'+row._id %>" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a></td>

                        <!-- src="" -->
                </tr>
                <% })}else{ %>
                <tr>
                    <td colspan="6">No Records Found</td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>